.grid {
  display: grid;
  grid-gap: $s*1.5;
  grid-template-columns: repeat(auto-fit, minmax($s*16, 1fr));

  &__item {
    position: relative;
    box: vertical space-between;
    text-decoration: none;
    padding: $s*2;
    border-radius: 15px;
    background-size: cover;
    background-position: center center;
    transition: all $fast ease-in-out;
    overflow: hidden;

    >div:nth-child(2) {
      box: horizontal space-between;
      margin-bottom: $s*7;
      z-index: 1;
    }

    time,
    span {
      box: horizontal middle;
      color: $white;
    }

    svg {
      size: $s;
      margin-right: $q;
    }

    h4 {
      margin: 0;
      z-index: 1;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 2px 6px 20px 0 rgba(0, 0, 0, .3);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .25);
    margin: 0;
  }
}