.locale {
  box: horizontal middle space-between;
  position: relative;
  margin-right: auto;
  padding: $h $s;
  color: $gray-800;
  background-color: $gray-200;
  border-radius: $q;

  svg {
    size: $s;

    &:first-child {
      fill: $gray-600;
    }
  }

  span {
    margin: 0 $h;
  }

  &__dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: $s*2;
    left: 0;
    width: 100%;
    padding: $t 0;
    background-color: $gray-100;
    transition: all $fast ease-in-out;
    transform: translateY(-$h);
  }

  &:hover {
    .locale__dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}