.share {
  display: inline-flex;

  &__heading {
    margin-top: $s*2;
  }

  &__button {
    box: horizontal center middle;
    padding: $q;
    margin-right: $h;
    color: $gray-600;

    svg {
      size: $s;
    }
  }
}