{% if config.site.logoOrientation == 'right' %} 
  {% assign class = 'container header header--reverse' %} 
{% else %} 
  {% assign class = 'container header' %} 
{% endif %}

<header class="{{ class }}">
  <a href="{{ config.site.url }}" class="logo">
    {% Icon 'logo' %}
  </a>
  <nav class="menu" role="navigation">
    {% if lang == 'id' %}
      {% for item in collections.navId %}
        {% include 'components/menu-item.html' %}
      {% endfor %}
    {% else %}
      {% for item in collections.nav %}
        {% include 'components/menu-item.html' %} 
      {% endfor %} 
    {% endif %}
  </nav>
</header>