{% if config.site.logoOrientation == 'right' %} 
  {% assign class = 'container header header--reverse' %} 
{% else %} 
  {% assign class = 'container header' %} 
{% endif %}

<header class="{{ class }}">
  <a href="{{ config.site.url }}" class="logo">
    {% Icon 'logo' %}
  </a>
  <div class="locale">
    <button>French</button>
  </div>
  <nav class="menu" role="navigation">
    {% for item in collections.nav %}
      {% if item.url == page.url %}
        {% assign class = 'menu__link menu__link--active' %}
      {% else %}
        {% assign class = 'menu__link' %}
      {% endif %}
      <a href="{{ item.url }}" class="{{ class }}">
        {{ item.data.navtitle | default: item.data.title }}
      </a>
    {% endfor %}
  </nav>
</header>