{% assign cover = image | default: config.fallback.image %}
{% assign thumbnail = thumbnail | default: config.fallback.thumbnail %}
{% assign description = summary | default: config.site.description %}
{% if title %}
  {% capture pageTitle %}{{ title }} | {{ config.site.title }}{% endcapture %} 
{% else %}
  {% assign pageTitle = config.site.title %}
{% endif %}

{% include 'includes/head.html' %}
{% include 'includes/svg.html' %}
{% include 'includes/header.html' %}

<main class="wrapper">
  {% if config.site.skipEmpty contains page.fileSlug %}
    {% block content %}{% endblock %}
  {% else %}
    {% if content == '' %}
      {% include 'includes/empty.html' %}
    {% else %}
      {% block content %}{% endblock %}
    {% endif %} 
  {% endif %}
</main>

{% include 'includes/footer.html' %}
{% include 'includes/scripts.html' %}

</body>
</html>