{% assign langID = page.inputPath | getLang %}

{% assign locale = config.locales[langID] %}

{% assign cover = image | default: config.site.image | getImageUrl: 1400 %}

{% assign thumbnail = image | default: config.site.image | getImageUrl: 200 %}

{% capture url %}{{ config.site.url }}{{page.url}}{% endcapture %} 

{% assign description = summary | default: config.site.description %}

{% if title %}
  {% capture pageTitle %}{{ title }} | {{ config.site.name }}{% endcapture %} 
{% else %}
  {% capture pageTitle %}{{ config.site.name }} - {{ config.site.summary }}{% endcapture %}
{% endif %}