<form name="{{ config.form.name }}" class="form" netlify>
  <label>
    Name
    <input type="text" name="name" placeholder="Enter your name" required>
  </label>
  <label>
    Email
    <input type="email" name="email" placeholder="your@email.com" required>
  </label>
  <label>
    Comment
    <textarea name="comment" placeholder="Enter some comment" required></textarea>
  </label>
  <div>
    <label>
      <input type="radio" name="priority" value="Critical">
      <span class="spaced caps h6 bold">Critical</span>
    </label>
    <label>
      <input type="radio" name="priority" value="Medium">
      <span class="spaced caps h6 bold">Medium</span>
    </label>
    <label>
      <input type="radio" name="priority" value="Low">
      <span class="spaced caps h6 bold">Low</span>
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="topic" value="HTML">
      <span class="spaced caps h6 bold">HTML</span>
    </label>
    <label>
      <input type="checkbox" name="topic" value="CSS">
      <span class="spaced caps h6 bold">CSS</span>
    </label>
    <label>
      <input type="checkbox" name="topic" value="Javascript">
      <span class="spaced caps h6 bold">Javascript</span>
    </label>
  </div>
  <button type="submit">Submit</button>
</form>