{% layout 'includes/layout.html' %}

{% block content %}

  <div class="container">
    <h1>{{ title }}</h1>

    {% if author %}
      <span class="italic faint">by&nbsp;</span>
      <span class="h6 spaced caps faint">{{ author }}</span>
    {% endif %}

    {% if summary %}<p class="lead">{{ summary }}</p>{% endif %}
  
    {{ content }}
    
    {% case page.fileSlug %}
      {% comment %} {% when 'faq' %}
        {% include 'components/accordion.html' %} {% endcomment %}
      {% when 'events' %}
        {% include 'components/grid.html' %}
    {% endcase %}

  </div>
  
{% endblock %}
