img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
}

input,
select,
textarea {
  color: $gray-800;
  margin-top: .25rem;
  padding: .6rem .85rem;
  border-radius: 5px;
  border: 1px solid $gray-300;
  transition: all .25s ease;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 1;
    color: $gray-500;
  }
}

svg {
  width: $s*1.25;
  height: $s*1.25;
  fill: currentColor;
}