/**
 * VARIABLES
 */
@import "base/variables";

/**
 * TOOLS
 * Mixins and functions
 */
@import "base/mixins";

/**
 * GENERIC
 * Includes all the 3rd-party CSS used throughout the site.
 */
@import '~normalize.css';
@import "base/fontface";

/**
 * ELEMENTS
 * For raw HTML elements. Bare tag styles, not classes or 
 * IDs.
 */
@import "base/elements";
@import "base/typography";

/**
 * OBJECTS
 * For layout-driven structures (wrapper, containers).
 */
@import "base/layout";

/**
 * COMPONENTS
 * UI Components styling.
 */
@import "components/header";
@import "components/footer";
@import "components/banner";
@import "components/accordion";
@import "components/grid";
@import "components/share";
@import "components/locale";